body *{
    border-radius: 5px;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
}
.input > *
{
    width: 100%;
    margin-bottom: 10px;
}

.input textarea
{
    resize: none;
}

button{
    background-color: white;
    border: solid 1px gray;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
}

.input button{
    width: auto;
    padding: 5px 10px;
}

button:hover{
    background-color: aquamarine;
}



#target{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#target > *{
    width: 33%;
    min-height: 10vh;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 10px;
}

#target #pending{
    background-color: orange;
}
#target #processing{
    background-color: lightblue;
}
#target #closed{
    background-color: lightgreen;
}
h2{
    text-align: center;
    border-bottom: solid 1px black;
    margin: 0;
}

.ticket{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}
.ticket details{
    width: 100%;
    margin: 0;
    white-space: normal;
}
.ticket details summary{
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
}
.ticket > button{
    height: 30px;
    margin: 10px;

}

